/* Primary */
$primary-lighter: 236 248 247;
$primary-light: 180 228 223;
$primary: 28 79 73;
$primary-dark: 13 38 35;

/* Secondary */
$secondary-lighter: 234 230 255;
$secondary-light: 86 53 253;
$secondary: 22 1 127;
$secondary-dark: 9 1 50;

/* Neutrals */
$neutral-dark: 32 33 36;
$neutral-medium: 159 162 174;
$neutral-light: 214 216 219;
$neutral-background: 241 242 243;
$neutral-white: 255 255 255;

/* Semantic colors */
$semantic-success-dark: 217 242 217;
$semantic-error-dark: 219 43 57;
$semantic-warning-dark: 255 241 179;
$semantic-info-dark: 204 227 255;

$semantic-success-light: 31 122 80;
$semantic-error-light: 179 0 45;
$semantic-warning-light: 196 71 33;
$semantic-info-light: 0 103 230;

$semantic-focus: 0 146 230;
$semantic-link: 98 26 255;