@use "_colors" as c;

$unset: 0 0 0;

$light-primary: (
  50: c.$neutral-white,
  100: c.$neutral-background,
  200: c.$primary-lighter,
  300: c.$neutral-light,
  400: c.$primary-light,
  500: c.$neutral-medium,
  600: c.$primary,
  700: c.$primary,
  800: c.$neutral-dark,
  900: c.$primary-dark,
  A100: $unset,
  A200: $unset,
  A400: $unset,
  A700: $unset,
  contrast: (
    50: c.$primary,
    100: c.$primary,
    200: c.$primary,
    300: c.$primary-dark,
    400: c.$primary-dark,
    500: c.$primary-dark,
    600: c.$primary-lighter,
    700: c.$primary-lighter,
    800: c.$primary-light,
    900: c.$primary-light,
    A100: c.$neutral-dark,
    A200: c.$neutral-dark,
    A400: c.$neutral-dark,
    A700: c.$neutral-dark,
  ),
);

$dark-primary: (
  50: $unset,
  100: $unset,
  200: $unset,
  300: $unset,
  400: $unset,
  500: $unset,
  600: $unset,
  700: $unset,
  800: $unset,
  900: $unset,
  A100: $unset,
  A200: $unset,
  A400: $unset,
  A700: $unset,
  contrast: (
    50: $unset,
    100: $unset,
    200: $unset,
    300: $unset,
    400: $unset,
    500: $unset,
    600: $unset,
    700: $unset,
    800: $unset,
    900: $unset,
    A100: c.$neutral-white,
    A200: c.$neutral-white,
    A400: c.$neutral-white,
    A700: c.$neutral-white,
  ),
);

$light-secondary: (
  50: c.$neutral-white,
  100: c.$neutral-background,
  200: c.$secondary-lighter,
  300: c.$neutral-light,
  400: c.$neutral-medium,
  500: c.$secondary-light,
  600: c.$secondary,
  700: c.$secondary,
  800: c.$secondary-dark,
  900: c.$neutral-dark,
  A100: $unset,
  A200: $unset,
  A400: $unset,
  A700: $unset,
  contrast: (
    50: c.$secondary-dark,
    100: c.$secondary-dark,
    200: c.$secondary-dark,
    300: c.$secondary-dark,
    400: c.$secondary-dark,
    500: c.$secondary-dark,
    600: c.$neutral-white,
    700: c.$neutral-white,
    800: c.$secondary-lighter,
    900: c.$secondary-lighter,
    A100: c.$neutral-white,
    A200: c.$neutral-white,
    A400: $unset,
    A700: $unset,
  ),
);

$dark-secondary: (
  50: $unset,
  100: $unset,
  200: $unset,
  300: $unset,
  400: $unset,
  500: $unset,
  600: $unset,
  700: $unset,
  800: $unset,
  900: $unset,
  A100: $unset,
  A200: $unset,
  A400: $unset,
  A700: $unset,
  contrast: (
    50: $unset,
    100: $unset,
    200: $unset,
    300: $unset,
    400: $unset,
    500: $unset,
    600: $unset,
    700: $unset,
    800: $unset,
    900: $unset,
    A100: c.$neutral-dark,
    A200: c.$neutral-dark,
    A400: $unset,
    A700: $unset,
  ),
);

$light-semantic: (
  50: c.$semantic-error-light,
  100: c.$semantic-warning-light,
  200: c.$semantic-info-light,
  300: c.$semantic-success-light,
  400: c.$semantic-link,
  500: c.$semantic-focus,
  600: $unset,
  700: $unset,
  800: $unset,
  900: $unset,
  A100: $unset,
  A200: $unset,
  A400: $unset,
  A700: $unset,
  contrast: (
    50: $unset,
    100: $unset,
    200: $unset,
    300: $unset,
    400: $unset,
    500: $unset,
    600: $unset,
    700: $unset,
    800: $unset,
    900: $unset,
    A100: $unset,
    A200: $unset,
    A400: $unset,
    A700: $unset,
  ),
);

$dark-semantic: (
  50: c.$semantic-error-dark,
  100: c.$semantic-warning-dark,
  200: c.$semantic-info-dark,
  300: c.$semantic-success-dark,
  400: c.$semantic-link,
  500: c.$semantic-focus,
  600: $unset,
  700: $unset,
  800: $unset,
  900: $unset,
  A100: $unset,
  A200: $unset,
  A400: $unset,
  A700: $unset,
  contrast: (
    50: $unset,
    100: $unset,
    200: $unset,
    300: $unset,
    400: $unset,
    500: $unset,
    600: $unset,
    700: $unset,
    800: $unset,
    900: $unset,
    A100: $unset,
    A200: $unset,
    A400: $unset,
    A700: $unset,
  ),
);
