@use "sass:map";
@use "_palette" as p;

:root {
  --app-primary-50: #{map-get(p.$light-primary, 50)};
  --app-primary-100: #{map-get(p.$light-primary, 100)};
  --app-primary-200: #{map-get(p.$light-primary, 200)};
  --app-primary-300: #{map-get(p.$light-primary, 300)};
  --app-primary-400: #{map-get(p.$light-primary, 400)};
  --app-primary-500: #{map-get(p.$light-primary, 500)};
  --app-primary-600: #{map-get(p.$light-primary, 600)};
  --app-primary-700: #{map-get(p.$light-primary, 700)};
  --app-primary-800: #{map-get(p.$light-primary, 800)};
  --app-primary-900: #{map-get(p.$light-primary, 900)};
  --app-primary-A100: #{map-get(p.$light-primary, A100)};
  --app-primary-A200: #{map-get(p.$light-primary, A200)};
  --app-primary-A400: #{map-get(p.$light-primary, A400)};
  --app-primary-A700: #{map-get(p.$light-primary, A700)};
  --app-primary-contrast-50: #{map-get(p.$light-primary, contrast, 50)};
  --app-primary-contrast-100: #{map-get(p.$light-primary, contrast, 100)};
  --app-primary-contrast-200: #{map-get(p.$light-primary, contrast, 200)};
  --app-primary-contrast-300: #{map-get(p.$light-primary, contrast, 300)};
  --app-primary-contrast-400: #{map-get(p.$light-primary, contrast, 400)};
  --app-primary-contrast-500: #{map-get(p.$light-primary, contrast, 500)};
  --app-primary-contrast-600: #{map-get(p.$light-primary, contrast, 600)};
  --app-primary-contrast-700: #{map-get(p.$light-primary, contrast, 700)};
  --app-primary-contrast-800: #{map-get(p.$light-primary, contrast, 800)};
  --app-primary-contrast-900: #{map-get(p.$light-primary, contrast, 900)};
  --app-primary-contrast-A100: #{map-get(p.$light-primary, contrast, A100)};
  --app-primary-contrast-A200: #{map-get(p.$light-primary, contrast, A200)};
  --app-primary-contrast-A400: #{map-get(p.$light-primary, contrast, A400)};
  --app-primary-contrast-A700: #{map-get(p.$light-primary, contrast, A700)};

  --app-secondary-50: #{map-get(p.$light-secondary, 50)};
  --app-secondary-100: #{map-get(p.$light-secondary, 100)};
  --app-secondary-200: #{map-get(p.$light-secondary, 200)};
  --app-secondary-300: #{map-get(p.$light-secondary, 300)};
  --app-secondary-400: #{map-get(p.$light-secondary, 400)};
  --app-secondary-500: #{map-get(p.$light-secondary, 500)};
  --app-secondary-600: #{map-get(p.$light-secondary, 600)};
  --app-secondary-700: #{map-get(p.$light-secondary, 700)};
  --app-secondary-800: #{map-get(p.$light-secondary, 800)};
  --app-secondary-900: #{map-get(p.$light-secondary, 900)};
  --app-secondary-A100: #{map-get(p.$light-secondary, A100)};
  --app-secondary-A200: #{map-get(p.$light-secondary, A200)};
  --app-secondary-A400: #{map-get(p.$light-secondary, A400)};
  --app-secondary-A700: #{map-get(p.$light-secondary, A700)};
  --app-secondary-contrast-50: #{map-get(p.$light-secondary, contrast, 50)};
  --app-secondary-contrast-100: #{map-get(p.$light-secondary, contrast, 100)};
  --app-secondary-contrast-200: #{map-get(p.$light-secondary, contrast, 200)};
  --app-secondary-contrast-300: #{map-get(p.$light-secondary, contrast, 300)};
  --app-secondary-contrast-400: #{map-get(p.$light-secondary, contrast, 400)};
  --app-secondary-contrast-500: #{map-get(p.$light-secondary, contrast, 500)};
  --app-secondary-contrast-600: #{map-get(p.$light-secondary, contrast, 600)};
  --app-secondary-contrast-700: #{map-get(p.$light-secondary, contrast, 700)};
  --app-secondary-contrast-800: #{map-get(p.$light-secondary, contrast, 800)};
  --app-secondary-contrast-900: #{map-get(p.$light-secondary, contrast, 900)};
  --app-secondary-contrast-A100: #{map-get(p.$light-secondary, contrast, A100)};
  --app-secondary-contrast-A200: #{map-get(p.$light-secondary, contrast, A200)};
  --app-secondary-contrast-A400: #{map-get(p.$light-secondary, contrast, A400)};
  --app-secondary-contrast-A700: #{map-get(p.$light-secondary, contrast, A700)};

  --app-semantic-50: #{map-get(p.$light-semantic, 50)};
  --app-semantic-100: #{map-get(p.$light-semantic, 100)};
  --app-semantic-200: #{map-get(p.$light-semantic, 200)};
  --app-semantic-300: #{map-get(p.$light-semantic, 300)};
  --app-semantic-400: #{map-get(p.$light-semantic, 400)};
  --app-semantic-500: #{map-get(p.$light-semantic, 500)};
  --app-semantic-600: #{map-get(p.$light-semantic, 600)};
  --app-semantic-700: #{map-get(p.$light-semantic, 700)};
  --app-semantic-800: #{map-get(p.$light-semantic, 800)};
  --app-semantic-900: #{map-get(p.$light-semantic, 900)};
  --app-semantic-A100: #{map-get(p.$light-semantic, A100)};
  --app-semantic-A200: #{map-get(p.$light-semantic, A200)};
  --app-semantic-A400: #{map-get(p.$light-semantic, A400)};
  --app-semantic-A700: #{map-get(p.$light-semantic, A700)};
  --app-semantic-contrast-50: #{map-get(p.$light-semantic, contrast, 50)};
  --app-semantic-contrast-100: #{map-get(p.$light-semantic, contrast, 100)};
  --app-semantic-contrast-200: #{map-get(p.$light-semantic, contrast, 200)};
  --app-semantic-contrast-300: #{map-get(p.$light-semantic, contrast, 300)};
  --app-semantic-contrast-400: #{map-get(p.$light-semantic, contrast, 400)};
  --app-semantic-contrast-500: #{map-get(p.$light-semantic, contrast, 500)};
  --app-semantic-contrast-600: #{map-get(p.$light-semantic, contrast, 600)};
  --app-semantic-contrast-700: #{map-get(p.$light-semantic, contrast, 700)};
  --app-semantic-contrast-800: #{map-get(p.$light-semantic, contrast, 800)};
  --app-semantic-contrast-900: #{map-get(p.$light-semantic, contrast, 900)};
  --app-semantic-contrast-A100: #{map-get(p.$light-semantic, contrast, A100)};
  --app-semantic-contrast-A200: #{map-get(p.$light-semantic, contrast, A200)};
  --app-semantic-contrast-A400: #{map-get(p.$light-semantic, contrast, A400)};
  --app-semantic-contrast-A700: #{map-get(p.$light-semantic, contrast, A700)};
}

:root[class~="dark"] {
  --app-primary-50: #{map-get(p.$dark-primary, 50)};
  --app-primary-100: #{map-get(p.$dark-primary, 100)};
  --app-primary-200: #{map-get(p.$dark-primary, 200)};
  --app-primary-300: #{map-get(p.$dark-primary, 300)};
  --app-primary-400: #{map-get(p.$dark-primary, 400)};
  --app-primary-500: #{map-get(p.$dark-primary, 500)};
  --app-primary-600: #{map-get(p.$dark-primary, 600)};
  --app-primary-700: #{map-get(p.$dark-primary, 700)};
  --app-primary-800: #{map-get(p.$dark-primary, 800)};
  --app-primary-900: #{map-get(p.$dark-primary, 900)};
  --app-primary-A100: #{map-get(p.$dark-primary, A100)};
  --app-primary-A200: #{map-get(p.$dark-primary, A200)};
  --app-primary-A400: #{map-get(p.$dark-primary, A400)};
  --app-primary-A700: #{map-get(p.$dark-primary, A700)};
  --app-primary-contrast-50: #{map-get(p.$dark-primary, contrast, 50)};
  --app-primary-contrast-100: #{map-get(p.$dark-primary, contrast, 100)};
  --app-primary-contrast-200: #{map-get(p.$dark-primary, contrast, 200)};
  --app-primary-contrast-300: #{map-get(p.$dark-primary, contrast, 300)};
  --app-primary-contrast-400: #{map-get(p.$dark-primary, contrast, 400)};
  --app-primary-contrast-500: #{map-get(p.$dark-primary, contrast, 500)};
  --app-primary-contrast-600: #{map-get(p.$dark-primary, contrast, 600)};
  --app-primary-contrast-700: #{map-get(p.$dark-primary, contrast, 700)};
  --app-primary-contrast-800: #{map-get(p.$dark-primary, contrast, 800)};
  --app-primary-contrast-900: #{map-get(p.$dark-primary, contrast, 900)};
  --app-primary-contrast-A100: #{map-get(p.$dark-primary, contrast, A100)};
  --app-primary-contrast-A200: #{map-get(p.$dark-primary, contrast, A200)};
  --app-primary-contrast-A400: #{map-get(p.$dark-primary, contrast, A400)};
  --app-primary-contrast-A700: #{map-get(p.$dark-primary, contrast, A700)};

  --app-secondary-50: #{map-get(p.$dark-secondary, 50)};
  --app-secondary-100: #{map-get(p.$dark-secondary, 100)};
  --app-secondary-200: #{map-get(p.$dark-secondary, 200)};
  --app-secondary-300: #{map-get(p.$dark-secondary, 300)};
  --app-secondary-400: #{map-get(p.$dark-secondary, 400)};
  --app-secondary-500: #{map-get(p.$dark-secondary, 500)};
  --app-secondary-600: #{map-get(p.$dark-secondary, 600)};
  --app-secondary-700: #{map-get(p.$dark-secondary, 700)};
  --app-secondary-800: #{map-get(p.$dark-secondary, 800)};
  --app-secondary-900: #{map-get(p.$dark-secondary, 900)};
  --app-secondary-A100: #{map-get(p.$dark-secondary, A100)};
  --app-secondary-A200: #{map-get(p.$dark-secondary, A200)};
  --app-secondary-A400: #{map-get(p.$dark-secondary, A400)};
  --app-secondary-A700: #{map-get(p.$dark-secondary, A700)};
  --app-secondary-contrast-50: #{map-get(p.$dark-secondary, contrast, 50)};
  --app-secondary-contrast-100: #{map-get(p.$dark-secondary, contrast, 100)};
  --app-secondary-contrast-200: #{map-get(p.$dark-secondary, contrast, 200)};
  --app-secondary-contrast-300: #{map-get(p.$dark-secondary, contrast, 300)};
  --app-secondary-contrast-400: #{map-get(p.$dark-secondary, contrast, 400)};
  --app-secondary-contrast-500: #{map-get(p.$dark-secondary, contrast, 500)};
  --app-secondary-contrast-600: #{map-get(p.$dark-secondary, contrast, 600)};
  --app-secondary-contrast-700: #{map-get(p.$dark-secondary, contrast, 700)};
  --app-secondary-contrast-800: #{map-get(p.$dark-secondary, contrast, 800)};
  --app-secondary-contrast-900: #{map-get(p.$dark-secondary, contrast, 900)};
  --app-secondary-contrast-A100: #{map-get(p.$dark-secondary, contrast, A100)};
  --app-secondary-contrast-A200: #{map-get(p.$dark-secondary, contrast, A200)};
  --app-secondary-contrast-A400: #{map-get(p.$dark-secondary, contrast, A400)};
  --app-secondary-contrast-A700: #{map-get(p.$dark-secondary, contrast, A700)};

  --app-semantic-50: #{map-get(p.$dark-semantic, 50)};
  --app-semantic-100: #{map-get(p.$dark-semantic, 100)};
  --app-semantic-200: #{map-get(p.$dark-semantic, 200)};
  --app-semantic-300: #{map-get(p.$dark-semantic, 300)};
  --app-semantic-400: #{map-get(p.$dark-semantic, 400)};
  --app-semantic-500: #{map-get(p.$dark-semantic, 500)};
  --app-semantic-600: #{map-get(p.$dark-semantic, 600)};
  --app-semantic-700: #{map-get(p.$dark-semantic, 700)};
  --app-semantic-800: #{map-get(p.$dark-semantic, 800)};
  --app-semantic-900: #{map-get(p.$dark-semantic, 900)};
  --app-semantic-A100: #{map-get(p.$dark-semantic, A100)};
  --app-semantic-A200: #{map-get(p.$dark-semantic, A200)};
  --app-semantic-A400: #{map-get(p.$dark-semantic, A400)};
  --app-semantic-A700: #{map-get(p.$dark-semantic, A700)};
  --app-semantic-contrast-50: #{map-get(p.$dark-semantic, contrast, 50)};
  --app-semantic-contrast-100: #{map-get(p.$dark-semantic, contrast, 100)};
  --app-semantic-contrast-200: #{map-get(p.$dark-semantic, contrast, 200)};
  --app-semantic-contrast-300: #{map-get(p.$dark-semantic, contrast, 300)};
  --app-semantic-contrast-400: #{map-get(p.$dark-semantic, contrast, 400)};
  --app-semantic-contrast-500: #{map-get(p.$dark-semantic, contrast, 500)};
  --app-semantic-contrast-600: #{map-get(p.$dark-semantic, contrast, 600)};
  --app-semantic-contrast-700: #{map-get(p.$dark-semantic, contrast, 700)};
  --app-semantic-contrast-800: #{map-get(p.$dark-semantic, contrast, 800)};
  --app-semantic-contrast-900: #{map-get(p.$dark-semantic, contrast, 900)};
  --app-semantic-contrast-A100: #{map-get(p.$dark-semantic, contrast, A100)};
  --app-semantic-contrast-A200: #{map-get(p.$dark-semantic, contrast, A200)};
  --app-semantic-contrast-A400: #{map-get(p.$dark-semantic, contrast, A400)};
  --app-semantic-contrast-A700: #{map-get(p.$dark-semantic, contrast, A700)};
}